<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SasidharMankala</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/sasi_emoji.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="assets/css/style.css">


</head>

<body oncontextmenu="return false">
    <div id="top" class="hero background-overlay">

        <div class="hero-content">
            <h1>I am Sasidhar Mankala</h1>
            <p class="hero-job"><span>I AM CURRENTLY AN UNDERGRADUATE STUDENT</span></p>
            <p class="hero-job-desc">SCROLL DOWN TO SEE MORE ABOUT ME </p>

        </div>
        <div class="hero-arrow page-scroll home-arrow-down">
            <a class="" href="#intro"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>

    </div>


    <main id="main" class="site-main">
        <section class="site-section section-hello" id="intro">
            <div class="container">
                <h2>HELLO &amp; WELCOME</h2>
                <p class="section-subtitle"><span>EXPLORE MY WORLD</span></p>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="main-service text-right">
                            <div class="rectangle">
                                <i class="fa fa-code" aria-hidden="true"></i>
                            </div>
                            <h3>CODE</h3>
                            <p style="font-size:medium ;">Technology is best when it brings people together</p>
                        </div>
                        <div class="main-service text-right">
                            <div class="rectangle">
                                <i class="fa fa-music" aria-hidden="true"></i>
                            </div>
                            <h3>SONGS</h3>
                            <p style="font-size:medium ;">Music is like a huge release of tension</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="big-rectangle">
                            <img src="assets/img/sasi_emoji.png" alt="sasi_emoji" width="200" height="200">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="main-service text-left">
                            <div class="rectangle">
                                <i class="fa fa-coffee" aria-hidden="true"></i>
                            </div>
                            <h3>COFFEE</h3>
                            <p style="font-size:medium ;">A bad day with coffee is better than a good day wihtout it</p>
                        </div>
                        <div class="main-service text-left">
                            <div class="rectangle">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </div>
                            <h3>LEARN</h3>
                            <p style="font-size:medium ;">What we learn with pleasure we never forget</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="site-section section-skills" style="margin-bottom:200px;">
            <div class="container">
                <div class="row">
                    <h2 style="text-align: center;  font-size: 32px; color: #50d890;">
                        SKILLS</h2>
                    <hr style="width:10%;text-align:center; color: black; border-style: inset;">
                    <div class="progress-group">
                        <p>Flutter</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%">
                            </div>
                        </div>
                    </div>
                    <div class="progress-group">
                        <p>Image Processing</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:80%">
                            </div>
                        </div>
                    </div>

                    <div class="progress-group">
                        <p>3D Modelling</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:65%">
                            </div>
                        </div>
                    </div>
                    <div class="progress-group">
                        <p>Web development</p>
                        <div class="progress">
                            <div class="progress-bar" style="width:75%">
                            </div>
                        </div>
                    </div>
                    <div class="progress-group">
                        <p>Data analysis</p>
                        <div class="progress">
                            <div class="progress-bar" style="width: 83%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section class="site-section section-services" id="services" style="margin-bottom:200px">

            <div class="container">
                <h2>Projects I worked on</h2>

                <div class="carousel slide" id="services-carousel">



                    <div class="carousel-indicators nav-tabs text-center">
                        <a data-target="#services-carousel" href="#" data-slide-to="0" class="active">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-cogs" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Face Recognition system using Raspberrypi</p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="1">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-desktop" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Face Recognition system using MATLAB</p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="2">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Cropping the image as per ROI</p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="3">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-fire-extinguisher" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Autonomous Fire Fighting Robot</p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="4">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Phishing website detection</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="carousel-inner">
                        <div id="item1" class="item tab-pane active">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Face Recognition system using Raspberrypi</h3>
                                        <p>Recognition of faces in real-time and labelling accordingly as per the
                                            trained model
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="assets/img/raspberrpi.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="item2" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Face Recognition system using MATLAB</h3>
                                        <p>Recognition of faces in real-time and labeling accordingly as provided in
                                            database </p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="assets/img/matlab.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                       
                        <div id="item3" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Cropping the image as per ROI</h3>
                                        <p>Recognizing the ROI and cropping the ROI from the image</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="assets/img/roi.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="item4" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Autonomous Fire Fighting Robot</h3>
                                        <p>Detects fire around the robot and extinguishes the fire using water.</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="assets/img/fire.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="item5" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Phishing website detection</h3>
                                        <p>Detects Phishing websites using machine learning </p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="assets/img/phishing.png" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="container">
            <h2 style="text-align: center; color: #50d890 ; font-size: 32px;">MY EDUCATIONAL BACKGROUND</h2>
            <div class="timeline">

                <div class="rightbox">
                    <div class="rb-container">
                        <ul class="rb">
                            <li class="rb-item" ng-repeat="itembx">
                                <div class="timestamp">
                                    Btech<br>
                                    Branch: Electronics and Communications Engineering<br>
                                    CGPA: 8.97
                                </div>

                            </li>
                            <li class="rb-item" ng-repeat="itembx">
                                <div class="timestamp">
                                    12th<br> Majors: Maths, Physics, Chemistry<br> Percentage: 95.3
                                </div>

                            </li>

                            <li class="rb-item" ng-repeat="itembx">
                                <div class="timestamp">
                                    10th standard<br> Percentage: 95
                                </div>

                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>




        <footer style="background-color: #50d890;">
            <div style="text-align: center;">
                <a href="https://www.facebook.com/sasi.chandu.7/"target="_blank" class="fa fa-facebook" style="padding-top: 10px;padding-left: 50px;padding-bottom: 10px;padding-right: 50px; color: #333333; padding: 20px;
            font-size: 30px;
            width: 30px;
            text-decoration: none;
            border-radius: 50%;"></a>
                <a href="https://twitter.com/SasidharMankala" target="_blank"class="fa fa-twitter" style="padding-top: 10px;padding-left: 50px;padding-bottom: 10px;padding-right: 50px;color: #333333; padding: 20px;
            font-size: 30px;
            width: 30px;
            text-decoration: none;
            border-radius: 50%"></a>
                <a href="https://github.com/SasidharMankala"target="_blank" class="fa fa-github" style="padding-top: 10px;padding-left: 50px;padding-bottom: 10px;padding-right: 50px;color: #333333; padding: 20px;
            font-size: 30px;
            width: 30px;
            text-decoration: none;
            border-radius: 50%"></a>
                <a href="https://www.instagram.com/s.a.sidhar/" target="_blank"class="fa fa-instagram" style="padding-top: 10px;padding-left: 50px;padding-bottom: 10px;padding-right: 50px;color: #333333; padding: 20px;
            font-size: 30px;
            width: 30px;
            text-decoration: none;
            border-radius: 50%"></a>
            </div>
        </footer>

    </main>
    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>